*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* 禁止左右滾動 */
}

.work1{
    margin: auto;
    padding: auto;
    justify-items: center;
}

.illu{
    margin-top: 1%;
    margin-left: 1%;
}


.h2-1-1{
    background-color: rgb(161, 53, 53); 
    height: 5px; 
    border: none; 
    width: 90%;
    max-width: 800px; 
    margin-left: 1%;
}


.h2-1{
    margin-bottom: 2px;
    font-size: 35px;
    color: rgb(161, 61, 61);
    margin-left: 1%;
}

.h2-2{
    margin-bottom: 2px;
    font-size: 35px;
    color: rgb(161, 61, 61);
    margin-left: 1%;
}


.h2-2-1{
    background-color: rgb(161, 53, 53); 
    height: 5px; 
    border: none; 
    width: 90%;
    max-width: 800px; 
    margin-left: 1%;
}

.chara{
    margin-top: 1%;
    margin-left: 1%;
}